{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>

</br>
</br>
</br>
</br>

  
  <div class="row gtr-uniform box" style="margin-left : 0;"> 
   
    <div > 
        <small style="color:white">Your Password has been set. You may go ahead and login</small>
    </div>
  </div>
  <div class="text-center">
  </br>
  <a href="{% url 'login' %}" style="color:lightblue">Login</a>
  
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</body>

{% endblock body %}
