{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>

</br>
</br>
</br>
</br>
<form method='POST' action='#' style="color:white">
  
  <div class="row gtr-uniform box" style="margin-left : 0;"> 
    {% csrf_token %}
    {{form}}
    <div class="col-12 col-12-xsmall"> 
        <button type="submit" class="btn primary" value="register">Register</button>
    </div>
  </div>
  
  </form>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</body>

{% endblock body %}
