{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
		<div id="body">
			<div id="content">
				<h1>Check out our gardens</h1>
				
				
					{% for gg in Garden %}
					<ul class="section">
					<li>
						<img style="width:300px;height:200px" src="{{ gg.image.url }}" alt="Image" >
						<div>
							
							<a style="text-decoration:none;"  href="{% url 'plants:garden' gg.id %}" ><h2>{{gg.title}}</h2></a>
							<p>
								{{gg.descreption}}
							</p>
							
						</div>
					</li>
				</ul>
					{% endfor %}
				
			</div>
		</div>
</body>

{% endblock body %}