{% extends 'base.html' %}
{% load static %}
{% block body %}

<body>
		<div id="body">
			<div id="content">
				<h1>Check out our plants</h1>
					{% for pp in Plant %}
					<ul class="section">
					<li>
						
					<img style="width:300px;height:200px" src="{{ pp.image.url }}" alt="Image" >
						<div>
							<a style="text-decoration:none;"  href="{% url 'plants:plant' pp.id %}" ><h2>{{pp.title}}</h2></a>
							<p>
								{{pp.descreption}}						
							</p>
							<p>
								Posted On : {{pp.uploaded_date}}
							</p>
						</div>
					</li>
				</ul>
					{% endfor %}
				
			</div>
		</div>	
</body>
{% endblock body %}

