{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
		<div id="body">
			<div id="content">
				<h1>{{Plantt.title}}</h1>
					<ul class="section">
					<li>
						
						<img style="width:300px;height:200px" src="{{ Plantt.image.url }}" alt="Image" >
					</li>
                    <div>				
                        <p>
                            {{Plantt.descreption}}
                        </p>
						<p>
							Posted On : {{Plantt.uploaded_date}}
						 </p>
                    </div>
						{% if request.user.is_authenticated %}
					<div>
						<form method="POST" action={% url 'interaction:like_plant' plant_id=Plantt.id  %}>
							{% csrf_token %} 
							<button type= "submit" value="like" name="like" class="btn" id="green" ><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
							<button type= "submit" value="dislike" name="dislike" class="btn" id="red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
						</form>
					</div>
						{% endif %}
                         <div>
							<h2>Comments({{post_comments_count}})</h2>
							{% for post_comment in post_comments %}
                         <b>{{post_comment.user}}</b>
                        <time>{{post_comment.date_comment}}</time>
						<p>{{post_comment.content}} </p>
						{% endfor %}
						 </div>
						 <div>
						<form method="POST" action={% url 'plants:plant' Plantt.id %}>
							{% csrf_token %} 
							{{form}}
						</br>
							<button type= "submit" value="Comment" name="Comment" >Comment</button>

						</form>
					</div>

				</ul>
			</div>
		</div>
		<script type="text/javascript" src={% static 'js/js.js' %}>
		  </script>	
</body>

{% endblock body %}
